.section__title
   +main-title('Мои работы', 'works')

.portfolio__wrapper

   .column.column_left.portfolio__column
      .work__slider
         .work__preview
            img.work__pic(src="assets/img/userfiles/portfolio.png")
         .work
            .work__title.block-title Сайт школы онлайн</br>образования
            .work__technology html, css, javascript
            a.work__link(href="#")
               svg.work__icon
                  use(xlink:href='assets/img/sprite/sprite.svg#link')
               span Посмотреть сайт

   .column.column_right.portfolio__column

      .work__toggle
         .work__prev.toggle.column.column_left
            a.toggle__link.toggle__link_prev(href="#")
               svg.toggle__icon
                  use(xlink:href='assets/img/sprite/sprite.svg#portf_arrow_down')
            img.toggle__pic(src="assets/img/userfiles/portfolio.png")
         .work__next.toggle.column.column_right
            a.toggle__link.toggle__link_next(href="#")
               svg.toggle__icon
                  use(xlink:href='assets/img/sprite/sprite.svg#portf_arrow_up')
            img.toggle__pic(src="assets/img/userfiles/portfolio.png")