.auth
	.auth-title
		.block-title авторизуйтесь
	.auth__form
		form(action="" method="" class="auth-form")
			.form__container
				.auth-form__input.input-group
					.input-group__icon-field
						svg.input-group__icon
							use(xlink:href='assets/img/sprite/sprite.svg#login')
					input.form-input(type="text" placeholder="Логин")
				.auth-form__input.input-group
					.input-group__icon-field
						svg.input-group__icon
							use(xlink:href='assets/img/sprite/sprite.svg#password')
					input.form-input(type="password" placeholder="Пароль")
				.auth-form__checkbox
					label.checkbox
						input.checkbox__fake(type="checkbox")
						.checkbox__label Я человек
				.auth-form__radio.radio-group
					.radio-group__title Вы точно человек?
					.radio-group__inputs
						label.radio-btn
							input.radio-btn__fake(type="radio" name="robot")
							.radio-btn__label Да
						label.radio-btn
							input.radio-btn__fake(type="radio" name="robot")
							.radio-btn__label Не уверен
			.auth-form__buttons.form__buttons
				button.form__btn.btn-return(type="button") На главную
				button.form__btn(type="button") Войти
