.auth {
  text-align: center;
}

.auth-title {
  text-align: center;
}

.input-group {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  .form-input {
    margin-bottom: 0;
    padding-left: 60px;
  }
}
.input-group__icon-field {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0efe9;
}
.input-group__icon {
  width: 18px;
  height: 17px;
  fill: #c4cbcd;
}

label {
  cursor: pointer;
}
.auth-form__checkbox, .auth-form__radio {
  margin-bottom: 20px;
}
.checkbox__fake, .radio-btn__fake {
  display: none;
  //position: absolute;
  //top: 0;
  //left: 0;
}
.checkbox__fake:checked {
  ~ .checkbox__label {
    &:before {
      background-color: $orange-light;
      background-image: url(../img/decor/check.png);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 12px 9px ;
    }
  }
}

.checkbox__label {
  position: relative;
  @include inlineblock(middle);
  &:before {
    content: '';
    box-sizing: border-box;
    @include inlineblock(middle);
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid $gray;
    border-radius: 2px;

    background-image: url(../img/sprite/sprite.svg#check);
  }
}

.radio-group__title {
  @include roboto(bold);
  margin-bottom: 14px;
}

.radio-btn__fake {
  &:checked {
    ~ .radio-btn__label {
      color: $orange-light;
      &:before {
        background-color: $orange-light;
      }
    }
  }
}

.radio-btn__label {
  display: inline-block;

  &:before {
    content: '';
    box-sizing: border-box;
    @include inlineblock(middle);
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba($black, .4);
    border: 6px solid #fff;
    border-radius: 50%;
  }
}

.radio-btn {
  margin-right: 40px;
  &:last-child {
    margin-right: 0;
  }
}
